VITE_apiKey=AIzaSyBTTvDeVk2YoEMuXh0OyMLZKZX7MPujm5w
VITE_authDomain=scholarhive-913e4.firebaseapp.com
VITE_projectId=scholarhive-913e4
VITE_storageBucket=scholarhive-913e4.firebasestorage.app
VITE_messagingSenderId=571219138047
VITE_appId=1:571219138047:web:c1257d214d5c4821d9c3ca
VITE_server_url=http://localhost:5000
VITE_image_hosting_key=placeholder_key
